.service-wrapper {
  background-color: #e9eaee;
  padding: 60px 40px 0;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT SIDE */
.service-image {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 20px;
  flex: 1;
}

.service-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* RIGHT SIDE */
.service-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  color: white;
}

.service-buttons button {
  width: 80%;
  padding: 18px;
  /* background-color: #2c27a6; */
  background-color: #1d2db5; 
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
}

.service-buttons button a {
  color: white;
  text-decoration: none;
}

.service-buttons button a:hover {
  background-color: #1d2db5;
  color: gray;
  
  
}

/* Tablet */
@media screen and (max-width: 768px) {

  .service-wrapper {
    padding-bottom: 5px;
  }
  .service-options-container {
    display: block;
    width: 100%;
  }

  .service-image,
  .service-image-box,
  .service-left,
  .service-options-container img {
    display: none;
  }

  .service-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .service-buttons button {
    width: 100%;
    padding: 18px 12px;
    font-size: 16px;
  }
}

/* Small mobile */
@media screen and (max-width: 480px) {

  .service-wrapper {
    padding-bottom: 5px;
  }
  
  .service-options-container {
    display: block;
    width: 100%;
  }

  .service-image,
  .service-image-box,
  .service-left,
  .service-options-container img {
    display: none;
  }

  .service-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .service-buttons button {
    width: 100%;
    padding: 14px 8px;
    font-size: 14px;
    border-radius: 10px;
  }

  .service-buttons button a {
    display: block;
    width: 100%;
  }
}
